@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

@import './colors.scss';

$titleFont: 'Righteous';
$bodyFont: 'Open Sans Condensed', sans-serif;

* {
  font-family: $bodyFont;
}

footer {
  a {
    color: $razz;
  }
}