.header {
  background-color: black;
  margin-bottom: 1.45rem;
  div {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
    h1 {
      font-family: 'Cinzel Decorative', cursive;
      color: rgb(221, 119, 76);
      margin: 0;
      a {
        color: rgb(221, 119, 76);
        text-decoration: none;
      }
    }
  }
}
